.container
{
    margin-bottom: 100px;
}
.orange-bg
{
    background-color: #fceae8;
    border-radius: 10px;
    box-shadow: 5px 5px 30px slategray;
}

.carousel-item
{
    padding: 20px 40px;
}

.price
{
    color: #FF136F;
}

.buy-now-button
{
    text-decoration: none;
    background-image: linear-gradient(#48d1cc,purple);
    padding: 10px 15px;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 10px;
    border-style: none;
    font-size: 20px;
    cursor: pointer;
}

.cat1
{
    background-image: linear-gradient(darkseagreen,DarkSlateGray);
    padding: 10px 30px;
    border-radius: 10px;
}


.cat2
{
    background-image: linear-gradient(khaki,indianred);
    padding: 10px 30px;
    border-radius: 10px;
}


.cat3
{
    background-image: linear-gradient(lightgray,lightcoral);
    padding: 10px 30px;
    border-radius: 10px;
}

.category h1
{
    color: white;
}

.category img
{
    width: 100px;
}

.card
{
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px lightblue;
}

.card-footer
{
    background-color: white;
    border-top: none;
}

#subscribe
{
    height: 300px;
}

#subscribe h6
{
    color: gray;
}

footer
{
    text-align: center;
}

#submit
{
    margin-top: 10px;
}